<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="RollingRandomAccessFile"
			fileName="zakupy-webservice.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
			immediateFlush="true" append="true">
			<PatternLayout>
				<Pattern>%d %p [%c] - %m%n %throwable{40}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="RollingRandomAccessFile" level="DEBUG" />
			<AppenderRef ref="Console" level="TRACE" />
		</Root>
	</Loggers>
</Configuration>
  
  
  
  